pkgbase = gitless
	pkgdesc = A scientifically proven easier-to-use git interface
	pkgver = 0.8.8
	pkgrel = 8
	url = http://gitless.com/
	arch = any
	license = GPL
	depends = python
	depends = git
	depends = python-sh
	depends = python-clint
	depends = python-pygit2>=1.1.1
	depends = python-setuptools
	source = https://github.com/gitless-vcs/gitless/archive/v0.8.8.tar.gz
	source = 0001-Update-libgit2.patch
	source = 0002-Update-requirements.patch
	sha256sums = 470aab13d51baec2ab54d7ceb6d12b9a2937f72d840516affa0cb34a6360523c
	sha256sums = f4398171b45f4f6b8772e1e50dc22c5e74873d3769594c20b88ad4a6c2fe2aba
	sha256sums = 50b4599b7edb62415c30da7fe8203b198d96fa5818534e80f6dcc049cbf94c0d

pkgname = gitless

