pkgbase = linux-firmware-git
	pkgdesc = Firmware files for Linux
	pkgver = 20200302.r1589.g0148cfe
	pkgrel = 1
	url = http://git.kernel.org/?p=linux/kernel/git/firmware/linux-firmware.git;a=summary
	arch = any
	license = GPL2
	license = GPL3
	license = custom
	makedepends = git
	options = !strip
	source = git+https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
	md5sums = SKIP

pkgname = linux-firmware-git
	provides = linux-firmware
	conflicts = linux-firmware
	conflicts = kernel26-firmware
	conflicts = ar9170-fw
	conflicts = iwlwifi-1000-ucode
	conflicts = iwlwifi-3945-ucode
	conflicts = iwlwifi-4965-ucode
	conflicts = iwlwifi-5000-ucode
	conflicts = iwlwifi-5150-ucode
	conflicts = iwlwifi-6000-ucode
	conflicts = rt2870usb-fw
	conflicts = rt2x00-rt61-fw
	conflicts = rt2x00-rt71w-fw
	replaces = kernel26-firmware
	replaces = ar9170-fw
	replaces = iwlwifi-1000-ucode
	replaces = iwlwifi-3945-ucode
	replaces = iwlwifi-4965-ucode
	replaces = iwlwifi-5000-ucode
	replaces = iwlwifi-5150-ucode
	replaces = iwlwifi-6000-ucode
	replaces = rt2870usb-fw
	replaces = rt2x00-rt61-fw
	replaces = rt2x00-rt71w-fw

pkgname = amd-ucode-git
	pkgdesc = Microcode update files for AMD CPUs
	provides = amd-ucode
	conflicts = amd-ucode

