pkgbase = antimicro-git
	pkgdesc = Map keyboard and mouse actions to gamepad buttons, inspired by qjoypad.
	pkgver = 2.23.16.gbb5d2a1
	pkgrel = 1
	url = https://github.com/juliagoda/antimicro
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt5-tools
	makedepends = itstool
	depends = libxtst
	depends = qt5-base
	depends = sdl2
	provides = antimicro
	conflicts = antimicro
	source = git://github.com/juliagoda/antimicro
	md5sums = SKIP

pkgname = antimicro-git

