pkgbase = musikcube-git
	pkgdesc = A terminal-based cross-platform music player, audio engine, metadata indexer, and server. (polaur - no httpserver, alsa output only)
	pkgver = 0.96.7.r35.g52ac2c1f
	pkgrel = 1
	url = https://github.com/clangen/musikcube
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	depends = faad2
	depends = ffmpeg
	depends = libev
	depends = libogg
	depends = libvorbis
	depends = flac
	depends = lame
	depends = ncurses
	depends = boost
	depends = libpulse
	depends = alsa-lib
	depends = curl
	provides = musikcube
	conflicts = musikcube
	options = !buildflags
	options = !debug
	options = strip
	source = musikcube::git+https://github.com/clangen/musikcube.git
	md5sums = SKIP

pkgname = musikcube-git
